*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;;
}

.home{
    height: 100vh;
    background: url('p3.png') no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-contect{
    max-width: 600px;
}
.home-contect h1{
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
}

.home-contect h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-contect p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-contect .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover:before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover:hover{
    background: black;
    opacity: .6;
}
/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100%{
        width: 0;
    }
}
.about{
    height: 100vh;
    
    background: black;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: center;
    padding: 30px 10%;
}
.aboutP{
    padding: 15px;
    width: 80%;
    
}
.about-contect{
    width: 100%;
    height: 80%;
    padding: 5px;
    overflow: auto;
}
.about-contect h1{
    color: #00abf0;
}
.canvasSec{
    display: flex;
    flex-direction: row;
}
.photoAsset{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid lightgray;
}
.imageGrid{
    --gap: 16px;
    --num-col: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-col), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.imageGrid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid gray;
}

@media screen and (max-width: 1024px) {
    .imageGrid{
        --num-col: 2;
        --row-height: 200px;
    }
}
.text{
    padding-top: 20px;
}
p{
    padding-bottom: 10px;
}